<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/edit-task" method="POST">
      <label for="task"></label>
      <input type="text" name="task" value="<%= task.task %>" id="task" />
      <button type="Submit">Update Task</button>
      <input type="hidden" value="<%= task._id %>" name="taskId" />
    </form>
  </body>
</html>
