.task-btn button {
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 5px 20px;
}

.single-task {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task-content {
  width: 30%;
  /* display: flex; */
  /* align-items: center; */
}

.task-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}

.task-btn a {
  color: white;
  background: black;
  border-radius: 8px;
  padding: 5px 20px;
}

.index-tasks {
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.index-tasks {
  box-shadow: 4px 3px 16px 0px rgba(0, 0, 0, 0.43);
  padding: 20px 20px;
}

.task-completed {
  color: white;
  background: green;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 0;
}
